JENKINS_ADMIN_ID=admin
JENKINS_ADMIN_PASSWORD=replace-with-a-long-random-password
JENKINS_URL=http://localhost:8081/
GIT_REPOSITORY_URL=https://github.com/sylvose-allogo/portagecybertech.git
GIT_BRANCH=main
